<section class="pokedex-section">

    <form 
        class="form-city"
        [formGroup]="formCity" 
        (submit)="getPokemon()"
    >

        <app-form-input
            [control]="controls.cityName"
            [trim]="true"
            type="text"
            fieldId="cityName"
            label=""
            name="cityName"
            placeholder="Insira o nome da cidade..."
            [hideError]="true"
        ></app-form-input>

        <button type="submit" class="btn-search btn btn-primary">
           <i class="icon fas fa-search"></i> Search
        </button>

    </form>

    <div class="content">

        <div class="error-screen" *ngIf="hasError">
            <app-error-screen></app-error-screen>
        </div>

        <!-- <div class="error-screen" *ngIf="hasError">
            <app-error-screen></app-error-screen>
        </div> -->

        <div class="weather-information" *ngIf="!hasError">

            <ul class="info-list">
                <div>
                    <li> <i class="fas fa-building"></i> Cidade </li>
                    <li> <i class="fas fa-thermometer-quarter"></i> Temperatura: </li>
                    <li><i class="fa fa-cloud-showers-heavy"></i> Chovendo: </li>
                </div>
            </ul>

        </div>

        <div class="divider" *ngIf="!hasError"></div>

        <div class="pokemon-information" *ngIf="!hasError">

            <ul class="pokemon-info">
                <li class="name">Nome</li>
                <li><app-types [type]="controls.cityName.value"></app-types></li>
            </ul>

            <div class="pokemon">

            </div>

        </div>

    </div>


</section>