@import "../../assets/style/variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.pokedex-section {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.content-container {
    height: calc(100% - 120px);
    width: 100%;
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-down(md) {
}
