<section class="pokedex-section">

    <form
        class="form-city"
        [formGroup]="formCity"
        (submit)="getCityWeather()"
    >

        <app-form-input
            [control]="controls.cityName"
            [trim]="true"
            class="city-input"
            type="text"
            fieldId="cityName"
            name="cityName"
            placeholder="Insira o nome da cidade..."
        ></app-form-input>

        <button type="submit" class="btn-search btn btn-primary">
           <i class="icon fas fa-search"></i> Buscar
        </button>

    </form>

    <div class="content">

        <ng-container *ngIf="isLoading">

            <div class="loader-screen">
                <app-spinner></app-spinner>
            </div>

        </ng-container>

        <ng-container *ngIf="!isLoading">

            <div class="error-screen" *ngIf="hasError">
                <app-error-screen [error]="error"></app-error-screen>
            </div>

            <div class="error-screen" *ngIf="!hasError && !hasPreviousSearch">
                <app-empty-screen></app-empty-screen>
            </div>

            <ng-container *ngIf="!hasError && hasPreviousSearch">

                <div class="weather-information" >

                    <ul class="info-list">
                        <div>
                            <li> <i class="fas fa-building"></i> {{weatherData.name}} </li>
                            <li> <i class="fas fa-thermometer-quarter"></i> {{weatherData.temperature}} ° </li>
                            <li>
                                <i class="fa fa-cloud-showers-heavy" *ngIf="weatherData.isRaining"></i> 
                                <i class="fa fa-cloud-sun" *ngIf="!weatherData.isRaining"></i> 
                                {{weatherData.isRaining ? weatherData.description : 'Sem chuva'}}
                            </li>
                        </div>
                    </ul>

                </div>

                <div class="divider"></div>

                <div class="pokemon-information">

                    <ul class="pokemon-info">
                        <li class="name">{{pokemonData.name}}</li>
                        <li><app-types [type]="pokemonData.type"></app-types></li>
                    </ul>

                    <div *ngIf="pokemonData.image" class="pokemon">
                        <img [src]="pokemonData.image" alt="pokemon">
                    </div>

                </div>

            </ng-container>

        </ng-container>

    </div>

</section>