@import "../../../assets/style/variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.pokedex-section {
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Navbar */

.navbar {
    height: 60px;
    align-items: center;
    -webkit-box-shadow: 0px -8px 33px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -8px 33px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -8px 33px -1px rgba(0, 0, 0, 0.75);
}

.navbar h2 {
    margin: 0;
    margin-right: 1rem;
    font-size: 25px;
}

.navbar img {
    height: 40px;
}

@include media-breakpoint-down(md) {
    .navbar {
        height: 60px;
        align-items: center;
    }

    .navbar h2 {
        margin: 0;
        margin-right: 1rem;
        font-size: 23px;
    }

    .navbar img {
        height: 35px;
    }
}
