@import "../../../assets/style/variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.pokedex-section {
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Navbar */

.navbar {
    height: 3.75rem;
    align-items: center;
    -webkit-box-shadow: 1px 1px 29px -8px rgba(0, 10, 18, 1);
    -moz-box-shadow: 1px 1px 29px -8px rgba(0, 10, 18, 1);
    box-shadow: 1px 1px 29px -8px rgba(0, 10, 18, 1);
}

.navbar h2 {
    margin: 0;
    margin-right: 1rem;
    font-size: 1.5625rem;
}

.navbar img {
    height: 2.5rem;
}

@include media-breakpoint-down(md) {
    .navbar {
        height: 3.75rem;
        align-items: center;
    }

    .navbar h2 {
        margin: 0;
        margin-right: 1rem;
        font-size: 1.4375rem;
    }

    .navbar img {
        height: 2.1875rem;
    }
}
