@import "../../../assets/style/_variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.empty-container {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-container h2 {
    text-align: center;
}

.empty-image {
    margin-top: 4rem;
}

.empty-image img {
    height: 200px;
    width: auto;
    border-radius: 50%;
}

@include media-breakpoint-up(lg) {
    .empty-image img {
        height: 200px;
        width: auto;
    }
}

@include media-breakpoint-down(md) {
    .empty-image img {
        height: 140px;
        width: auto;
    }
}
