.type-label {
    width: auto;
    font-size: 22px;
    font-weight: bold;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.type-label img {
    max-height: 45px;
    margin-right: 1rem;
}

.bug {
    color: #92c32a;
}

.eletric {
    color: #f3d439;
}

.fire {
    color: #ff9e54;
}

.grass {
    color: #61bc59;
}

.ground {
    color: #dc7743;
}

.ice {
    color: #72d0bf;
}

.normal {
    color: #929aa2;
}

.rock {
    color: #c8b88b;
}

.water {
    color: #4c92d8;
}