<ng-container [ngSwitch]="type">

    <div class="bug type-label d-flex" *ngSwitchCase="'bug'">
        <img src="assets/media/images/types/bug.png" alt=""/>
        Inseto
    </div>

    <div class="electric type-label d-flex" *ngSwitchCase="'electric'">
        <img src="assets/media/images/types/electric.png" alt=""/>
        Elétrico
    </div>

    <div class="fire type-label d-flex" *ngSwitchCase="'fire'">
        <img src="assets/media/images/types/fire.png" alt=""/>
        Fogo
    </div>

    <div class="grass type-label d-flex" *ngSwitchCase="'grass'">
        <img src="assets/media/images/types/grass.png" alt=""/>
        Grama
    </div>

    <div class="ground type-label d-flex" *ngSwitchCase="'ground'">
        <img src="assets/media/images/types/ground.png" alt=""/>
        Terra
    </div>

    <div class="ice type-label d-flex" *ngSwitchCase="'ice'">
        <img src="assets/media/images/types/ice.png" alt=""/>
        Gelo
    </div>

    <div class="normal type-label d-flex" *ngSwitchCase="'normal'">
        <img src="assets/media/images/types/normal.png" alt=""/>
        Normal
    </div>

    <div class="rock type-label d-flex" *ngSwitchCase="'rock'">
        <img src="assets/media/images/types/rock.png" alt=""/>
        Pedra
    </div>

    <div class="water type-label d-flex" *ngSwitchCase="'water'">
        <img src="assets/media/images/types/water.png" alt=""/>
        Água
    </div>

</ng-container>