@import "./assets/style/_variables.scss";
@import "./assets/style/_bootstrap-overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap");

/* Setting Margin and Padding */

html,
body {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  color: $grey-dark;
}

/* Custom Classes*/

button:focus {
  outline: 0;
}

.fill {
  flex: 1 1 auto;
}

.click {
  cursor: pointer;
}
