@import "../../../assets/style/variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.footer {
    height: 3.75rem;
    -webkit-box-shadow: 0.0625rem 0.0625rem 1.8125rem -0.5rem rgba(0,10,18,1);
    -moz-box-shadow: 0.0625rem 0.0625rem 1.8125rem -0.5rem rgba(0,10,18,1);
    box-shadow: 0.0625rem 0.0625rem 1.8125rem -0.5rem rgba(0,10,18,1);
}
