@import "../../../assets/style/variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.footer {
    height: 3.75rem;
    -webkit-box-shadow: 1px 1px 29px -8px rgba(0,10,18,1);
    -moz-box-shadow: 1px 1px 29px -8px rgba(0,10,18,1);
    box-shadow: 1px 1px 29px -8px rgba(0,10,18,1);
}
